*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black; /*cor em hexadecimal*/
    padding: 20px; /*alterei o padding 16/04*/
}
header{
    color: #fff; /*branco em hexad*/
    text-align: center;

    h1{
        font-size: 6em;
        font-weight: 900;
        letter-spacing: -0.05em;
        color: transparent;
        background-image: linear-gradient(to bottom, white, #4b5563);
        -webkit-background-clip: text;
        background-clip: text;
    }

    p{
        color: #facc15;
        font-size: x-large;
        letter-spacing: 0.2em;
        
    }
}
nav{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 40px;
}
nav a{
    display: flex;
    color: #facc15;
    text-decoration: none; /*tirei toda a decoração do texto*/
    padding: 4px;
    border-radius: 40px;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-size: large;
    letter-spacing: 0.1em;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 0.02em solid rgba(255, 255, 255, 0.055);
    background-color: rgba(255, 255, 255, 0.151);
    transition: 1s ease; 
}

nav a:hover{
    border: 0.02em solid rgba(250, 204, 21, 0.6);
    background: rgba(250, 204, 21, 0.281);
}

.bloco{ /*declaração de class, a class procede de "." */
    color: #facc15;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 4px;
    margin-bottom: 16px;
    display: grid;
    gap: 20px98;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    position: relative;

    p{
        font-size: large;
    }
}

.bloco::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;

  box-shadow: 
    0 0 6px rgba(250, 204, 21, 0.4),
    0 0 12px rgba(253, 224, 71, 0.3);

  z-index: -1;

  animation: glowPulse 2.5s ease-in-out infinite;
}

@keyframes glowPulse {
  0%, 100% {
    box-shadow: 
      0 0 6px rgba(250, 204, 21, 0.4),
      0 0 12px rgba(253, 224, 71, 0.3);
  }

  50% {
    box-shadow: 
      0 0 12px rgba(250, 204, 21, 0.7),
      0 0 24px rgba(253, 224, 71, 0.5);
  }
}

#galeria{
    display: flex;
    flex-wrap: wrap;
    gap:24px;
    justify-content: flex-start;
    padding: 20px;

}

.foto{
    background:#ffffff;
    padding: 12px 12px 20px 12px;
    border: 1px solid #dddddd;
    box-shadow: 0 4px 10px #000000;
    width: 220px;
    text-align: center;
    border-radius: 4px;
}

.foto img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}

.foto:hover{
    transform: scale(1.50) rotate(360deg);
    transition: 2s;
}

.legenda{
    color: ;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-style: italic;
}